<div class="nav">
	<div class="nav__logo nav-element" [ngClass]="{'invisible': isSearch}">
		<span class="logo" (click)="navigate('/')">Travel portal</span>
	</div>

	<div class="nav__search nav-element">

		@if (isSmallScreen) {
		<app-search [ngClass]="{'invisible': !isSearch}" [isArrowBack]="true"
			(closeSearch)="toogleIsSearch()"></app-search>
		}
		@else {
		<app-search (closeSearch)="toogleIsSearch()"></app-search>
		}

	</div>

	<div class="nav__panel nav-element" [ngClass]="{'invisible': isSearch}">
		<div class="icon-container search-icon" (click)="toogleIsSearch()">
			<mat-icon class="icon">search</mat-icon>
		</div>
		<div class="icon-container">
			<mat-icon class="icon">add_circle</mat-icon>
		</div>
		<div class="icon-container">
			<mat-icon class="icon">notifications</mat-icon>
		</div>
		<div class="icon-container">
			<mat-icon class="icon">account_circle</mat-icon>
		</div>
	</div>
</div>