@use 'variables' as *;

:host {
  width: 100%;
  height: 100%;

  .nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8em;

    .icon-container {
      .icon {
        color: white;
        padding: 0.8rem;
        border-radius: 50%;
        transition: background-color 0.3s ease;
        cursor: pointer;

        :hover {
          color: white;
        }
      }

      :hover {
        background-color: $blue-300;
      }
    }

    &__logo {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .logo {
        font-size: 1.6rem;
        font-weight: 500;
        color: $white;
      }
    }

    &__search {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;

      .input-wrapper {
        display: none;
      }
    }

    &__panel {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
