<app-loader [isLoading]="isLoading"></app-loader>
<div class="login">
    <div class="login__info">

        <div class="content">
            <h2 class="content__title">Welcome Back!</h2>
            <p class="content__text">If you have forgotten your password, enter your e-mail address.</p>
        </div>
    </div>

    <div class="login__container">

        <h2 class="content-name">Forgot password</h2>

        @if (isSentForm) {
        <div class="sent-form">
            <p class="content-info">Please check your email. We have sent you a link to change your password.</p>

            <button class="button" type="button" (click)="navigate('/auth/login')">Sign in</button>
        </div>

        }
        @else {
        <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

            <mat-form-field class="form__field">
                <mat-label class="label">Email</mat-label>
                <input formControlName="email" matInput autofocus />
                @if (form.controls.email.hasError('email') &&
                !form.controls.email.hasError('required')) {
                <mat-error class="form__error">Please enter a valid email address</mat-error>
                } @if (form.controls.email.hasError('required')) {
                <mat-error class="form__error">Email is <strong>required</strong></mat-error>
                }

            </mat-form-field>

            <div class="form__submit">
                <button class="button" type="submit" [disabled]="form.controls.email.errors">
                    Submit
                </button>
                <div class="text">
                    <div class="line"></div>
                </div>

                <button class="button" type="button" (click)="navigate('/auth/login')">Sign in</button>
            </div>
        </form>
        }


    </div>

</div>