<app-loader [isLoading]="isLoading"></app-loader>
<div class="login">
    <div class="login__info">

        <div class="content">
            <h2 class="content__title">Welcome Back!</h2>
            <p class="content__text">Enter your new password.</p>
        </div>
    </div>

    <div class="login__container">

        <h2 class="content-name">Change password</h2>

        @if (isSentForm) {
        <div class="sent-form">
            <p class="content-info">Your password has been changed. You can log in using your new password.</p>

            <button class="button" type="button" (click)="navigate('/auth/login')">Sign in</button>
        </div>

        }
        @else {
        <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

            <mat-form-field class="form__field">
                <mat-label class="label">Password</mat-label>
                <input formControlName="password" matInput [type]="hidePassword ? 'password' : 'text'" />
                <button class="button-password" mat-icon-button matSuffix (click)="toggleHide('password')"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword" type="button">
                    <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
                </button>
                @if (form.controls.password.hasError('required')) {
                <mat-error class="form__error">Password is <strong>required</strong></mat-error>
                }

            </mat-form-field>

            <mat-form-field class="form__field">
                <mat-label class="label">Repeat Password</mat-label>
                <input formControlName="passwordRepeat" matInput [type]="hidePasswordRepeat? 'password' : 'text'" />
                <button class="button-password" mat-icon-button matSuffix (click)="toggleHide('passwordRepeat')"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePasswordRepeat" type="button">
                    <mat-icon>{{ hidePasswordRepeat ? "visibility_off" : "visibility" }}</mat-icon>
                </button>
                @if (form.controls.passwordRepeat.hasError('required')) {
                <mat-error class="form__error">Repeat Password is <strong>required</strong></mat-error>
                }

            </mat-form-field>

            <div class="form__submit">
                <button class="button" type="submit" [disabled]="form.controls.password.errors">
                    Submit
                </button>
                <div class="text">
                    <div class="line"></div>
                </div>

                <button class="button" type="button" (click)="navigate('/auth/login')">Sign in</button>
            </div>
        </form>
        }


    </div>

</div>